doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

    include _style
  body
    table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td
          td.container
            .content
              // START CENTERED WHITE CONTAINER
              table.main(role='presentation')

                // START MAIN AREA
                tbody
                  tr
                    td.wrapper
                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                                p Unsubscribe Successfully
                                table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      td(align='left')
                                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                p Drive safe!
                                p Your Company Name

              // START FOOTER
              .footer
                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td.content-block
                        span.apple-link Company Name Asyut University, 123 Learning Lane, Asyut, Egypt, 71111
