extends baseEmail

block content
  p Dear #{firstName},
  br
  p Welcome to App Name! 🚗
  | We're thrilled to connect you with expert service providers for all your car needs. From repairs to products, we've got you covered. Get started and enjoy a seamless car service experience.
  br
  br
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
  p Drive safe!
  p Your Company Name